.logo{
    font-size : 2.5rem;
    height: 100%;
    padding-right : 1rem;
    display:flex;
    align-items: center;
    font-family: 'Jua', sans-serif;
    padding-left: 2.5rem;
    margin : 0 auto;

    .logo-link{
        color : black;   
    }
}