.write-wrapper{
    width : 50%;
    margin : 0 auto;
    margin-top : 1.5rem;
    background-color : white;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.9), 0 5px 12px rgba(133, 133, 133,0.9);
    margin-bottom : 1.5rem;
}

.card-content{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-action{
    text-align : right;
    padding-bottom : 1rem;
}

.card-post{
    margin-right: 1rem;
    cursor: pointer;
    user-select: none;
}