.homepage-wrapper{
    background-image : url("http://www.bbbpics.com/resize/resize-img.php?src=http://img.bbbpics.com/images/Textures/face-volume-edge-color-line5879.jpg&h=380&w=596");
    background-size: cover;
    height: 100%;
    width:100%;
    padding-top : 1px;
    transition: all .7s ease-in-out;
    position: relative;
}